doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title ADHD Prime
    link(href='stylesheets/style.css' rel='stylesheet' type='text/css')
    script(src='script.js' async='' defer='')
    link(rel='icon' type='image/png' sizes='32x32' href='/images/meme prime.png')
  body
    header
      nav
        ul
          li
            h1.logo
              a(href='index.html' rel='home')
                img(src='/images/meme prime.png' alt='Meme Team Logo')
              label ADHD Prime
          li
            a(href='login.html') Log in
          li
            a(href='devices.html') Devices
          li
            a Guide
    main
      section.device-user-attain
        form(action="/joe", method="post")
            section.device-utility-title-section
                h1 Device Manager 
            section.device-details-section
                input(type="text", name="devicename", placeholder="device name")
                input(type="text", name="randomdata", placeholder="device access")
            section.add-device-section 
                label.custom-button
                    span Add
                    input(type="submit", value="AddDevice")
      section.device-list-section
        ul 
            each device in devices
                li #{device}
        //- 
            li 
                form(action="/john", method="post")
                    input(type="text", value="name" name="devicename" hidden)
                    input(type="submit", name="RemoveDevice")
                span name
    footer
      section.date-section
        h1 ADHD PRIME
        h5 HACKATHON APRIL 2023
      section.name-section
        ul
          li
            p name
            p email
            p number
          li
            p Tyler Bouck
            p tsbouck@student.ysu.edu
            p 440-812-6431
          li
            p Elion Oliver
            p ekoliver@student.ysu.edu
            p 330-318-0068
          li
            p Edwin Patterson II
            p Edpatterson01@student.ysu.edu
            p 330-716-5392